<%= error_messages_for 'text_block' %>

<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 25 %></p>
  <p><%= f.text_area :text, label: l(:field_text_block_text), rows: 10 %></p>
  <p>
    <%= content_tag :label, l(:label_issue_status_plural) %>
    <%= f.collection_select :issue_status_ids,
                            @issue_statuses,
                            :id,
                            :name,
                            { prompt: "" },
                            { multiple: true } %>
  </p>
</div>

<%= wikitoolbar_for 'text_block_text' %>




