<% if text_blocks.any? %>
  <table class="list textblocks">
    <thead>
      <tr>
        <th><%= l :label_text_block_name %></th>
        <th><%= l :label_text_block_text %></th>
        <th><%= l :label_issue_status_plural %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render collection: text_blocks, partial: 'text_blocks/text_block' %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>

<%= content_for :header_tags do %>
  <%= javascript_include_tag 'jquery.dotdotdot', plugin: 'redmine_text_blocks' %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("table.list.textblocks tbody td.text div").dotdotdot({
        watch: 'window',
      });

      // make sure text is shortened when it was initially hidden and just
      // becomes visible due to Redmine's tabbing in project settings:
      var origShowTab = window.showTab;
      window.showTab = function(name, url){
        origShowTab(name, url);
        $("table.list.textblocks tbody td.text div").trigger('update.dot');
      }
    });
    $(function() {
      $("table.textblocks tbody").positionedItems();
    });
  <% end %>
<% end %>
